#header-bg-color {
    background-color: #1752b1;
}

.explore {
    width: 700px;
    height: 50px;
    display: flex;
    justify-content: center;
}

.company-name-text {
    margin-right: 210px;
    line-height: 20px;
}